{
  "openapi": "3.0.3",
  "info": {
    "title": "REST API",
    "description": "# Overview\nThe REST API allows you to handle authentication, manage Profiles and perform certain server-to-server\noperations in your Quiltt Environment.\n\nTo download and interact with detailed Profile data, including Connections, Accounts, Transactions, and\nStatements, use the [GraphQL API](https://www.quiltt.dev/api-reference/graphql).\n\nSee the [API Overview](https://www.quiltt.dev/api) to learn more about Quiltt's Hybrid API model.\n\n# API Host\n\nAuth-related requests - like issuing session tokens or introspecting credentials - use the Auth server:\n\n<pre><code>https://auth.quiltt.io</code></pre>\n\nAll other API requests use the core API server:\n\n<pre><code>https://api.quiltt.io</code></pre>\n\n# Authentication\n\nAll requests, except for certain Auth endpoints, require a valid API Key secret to be passed in as a bearer\ntoken in the Authorization header:\n\n<pre><code>Authorization: Bearer {API_KEY_SECRET}</code></pre>\n\nYou can access your API Keys in the\n[Quiltt Dashboard](https://dashboard.quiltt.dev/api-keys).\n\n# Errors\nUnsuccessful requests will return a JSON object to help troubleshoot what went wrong.\n\n### StandardError\nA generic error with troubleshooting instructions.\n\nReturned with all `4xx` or `5xx` HTTP status codes, except `422` errors on some REST endpoints.\n<SchemaDefinition schemaRef=\"#/components/schemas/RestError\" />\n\n### ValidationErrors\nOne or more correctable errors encountered when attempting to create or update a record.\n\nReturned with a `422` HTTP status code.\n<SchemaDefinition schemaRef=\"#/components/schemas/ValidationErrors\" />\n",
    "version": "2026-04-01"
  },
  "servers": [
    {
      "url": "https://api.quiltt.io",
      "description": "Core API server"
    }
  ],
  "paths": {
    "/v1/introspect/api_key": {
      "servers": [
        {
          "url": "https://auth.quiltt.io",
          "description": "Auth API server"
        }
      ],
      "post": {
        "summary": "Check API Key",
        "tags": [
          "Introspection"
        ],
        "description": "Checks that your API Key is valid.\n\nSuccessful requests will return information about the API Key.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "api_11gKT7OFCTrIx1YA3M0zfS5",
                  "name": "My API Key",
                  "apiVersion": "2026-04-01",
                  "metadata": null,
                  "environment": {
                    "id": "env_1Bx4omNvZgKao2OqGshImD",
                    "mode": "SANDBOX",
                    "name": "Sandbox",
                    "metadata": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid API Key secret in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/introspect/session_token": {
      "servers": [
        {
          "url": "https://auth.quiltt.io",
          "description": "Auth API server"
        }
      ],
      "post": {
        "summary": "Check Session Token",
        "tags": [
          "Introspection"
        ],
        "description": "Checks that the current Session Token is valid.\n\nSuccessful requests will return information about the Session.\n",
        "security": [
          {
            "SessionTokenBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "token": "eyJhbGciOiJIUzUxMiJ9.eyJuYmYiOjE2NzIyMDIxMjgsImlhdCI6MTY3MjIwMjEyOCwianRpIjoiZmQ4MTQzNzQtNzU5MS00MGU1LWIzMzktOTJjYmRmYzIzMDdlIiwiaXNzIjoiYXV0aC5xdWlsdHQuaW8iLCJhdWQiOiJhcGkucXVpbHR0LmlvIiwiZXhwIjoxNjcyMjg4NTI4LCJ2ZXIiOjIsImRpZCI6ImFwaV8xMWdLVDdPRkNUckl4MVlBM00wemZTNSIsInVpZCI6InBfMTcxZEZqMWpTa25aaVIzVlpPSEtjb2wifQ.ZoD1LPyB6X3nUg6wtQNr4YumLGQhx4cwGNWkXm0Av6IvKfgCLKn-nINqmNcXgpDC9h5aQ-L3x-2h9nyWVqpUmA",
                  "userId": "p_171dFj1jSknZiR3VZOHKcol",
                  "userUuid": "e6dd0bda-7384-4d88-866b-2e5aa1b2c693",
                  "environmentId": "env_1Bx4omNvZgKao2OqGshImD",
                  "expiration": 1747346977,
                  "expiresAt": "2025-05-15T22:09:37Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/UserSession"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid and unexpired Session token in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/introspect/processor_token": {
      "servers": [
        {
          "url": "https://auth.quiltt.io",
          "description": "Auth API server"
        }
      ],
      "post": {
        "summary": "Check Processor Token",
        "tags": [
          "Introspection"
        ],
        "description": "Checks that the current Processor Token is valid.\n\nSuccessful requests will return information about the Processor Token.\n",
        "security": [
          {
            "ProcessorTokenBasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "token": "YWNjdF8xMnpyd3U0aGRxa3dQcnpRMVNEUnV1OjA5NjliOTY3NTFmMDQ0OTRmNWQwYTgzMDkxNTA2NmM0OTEzNGVmYjhm",
                  "account": {
                    "id": "acct_12Hz9Dz7vEAuljYvhmPcvM9",
                    "type": "SPENDING"
                  },
                  "environment": {
                    "id": "env_12zvHsfWNzphjCqJ3884L6",
                    "mode": "SANDBOX"
                  },
                  "issuer": "QUILTT",
                  "processor": "STRADDLE",
                  "expiresAt": "2026-08-10T23:10:05Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/ProcessorToken"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid and unexpired Processor Token in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/sessions": {
      "servers": [
        {
          "url": "https://auth.quiltt.io",
          "description": "Auth API server"
        }
      ],
      "post": {
        "summary": "Issue a Session token",
        "tags": [
          "Session Tokens"
        ],
        "description": "Issues a Session token for one of your Profiles, using your API Key secret.\n\nThis endpoint supports authenticating existing Profiles, as well as creating new Profiles on\nthe fly.\n\nNote that the Session tokens are subject to a rate limit of 10 active sessions per hour and 20\nactive sessions per day. It's a good practice to revoke old session tokens when a user logs out\nof your application.\n\nSee the [Authentication guides](/authentication) for more information.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "examples": {
                  "Existing Profile": {
                    "value": {
                      "token": "eyJhbGciOiJIUzUxMiJ9.eyJuYmYiOjE2NzIyMDE3ODYsImlhdCI6MTY3MjIwMTc4NiwianRpIjoiZWQwZDUzMTUtZmJiNy00MjVlLWI2MGMtNTZjYTZkZDYwMDE5IiwiaXNzIjoiYXV0aC5xdWlsdHQuaW8iLCJhdWQiOiJhcGkucXVpbHR0LmlvIiwiZXhwIjoxNjcyMjg4MTg2LCJ2ZXIiOjIsImRpZCI6ImFwaV8xMWdLVDdPRkNUckl4MVlBM00wemZTNSIsInVpZCI6InBfMWdSTHJ0bXQxWEt4VFhXbDdRZjNXVyJ9.IENUZO2u7MoWyYPG93Lf9Jqf8EqbhnYphXzg0ezMI6EVNnfOKMQYLAtVDf9K_hA8299YChj9jJaFvW9fGd-pHA",
                      "expiration": 1672288186,
                      "expiresAt": "2023-09-29T13:31:59Z",
                      "userId": "p_1gRLrtmt1XKxTXWl7Qf3WW"
                    }
                  },
                  "New Profile": {
                    "value": {
                      "token": "eyJhbGciOiJIUzUxMiJ9.eyJuYmYiOjE2NzIyMDE5NDcsImlhdCI6MTY3MjIwMTk0NywianRpIjoiYzY4MGEyOWYtZDE4OC00YTU2LWE2MzAtODIxNjI4ZDMxMWE0IiwiaXNzIjoiYXV0aC5xdWlsdHQuaW8iLCJhdWQiOiJhcGkucXVpbHR0LmlvIiwiZXhwIjoxNjcyMjg4MzQ3LCJ2ZXIiOjIsImRpZCI6ImFwaV8xMWdLVDdPRkNUckl4MVlBM00wemZTNSIsInVpZCI6InBfMTZ3V3dIUnlNd2hDQVM3Y1hhMlkwV2UifQ.er98mPOLhCHrucy399kCrs5wb31P5bhamL4P6PsPZYwRGMHdma_LxAZSdtr6aM-o9Ke8bXYTK_DM5ytlThV53g",
                      "expiration": 1672288347,
                      "expiresAt": "2023-11-29T04:32:27Z",
                      "userId": "p_19tGjEMKXT99usldSlECDm"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/UserSession"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid API Key secret in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "You have reached the maximum number of Profiles for this Environment. Delete unused Profiles, use another Environment, or contact Quiltt Support."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "example": {
                  "message": "Conflict",
                  "instruction": "Profile is currently being deleted"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "email": [
                    "Email is not a valid email address"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "title": "Existing Profile",
                        "required": [
                          "userId"
                        ],
                        "properties": {
                          "userId": {
                            "description": "The ID of the Profile to authenticate",
                            "oneOf": [
                              {
                                "type": "string",
                                "description": "The ID of the Profile.",
                                "format": "global_id-v1",
                                "readOnly": true,
                                "title": "Profile ID",
                                "example": "p_1hyoxpVVFib1HngGwKAzIr"
                              },
                              {
                                "type": "string",
                                "description": "The UUID of the Profile.",
                                "format": "uuid",
                                "readOnly": true,
                                "title": "Profile UUID",
                                "example": "174ec567-2492-4498-a706-504a79437235"
                              }
                            ]
                          }
                        }
                      },
                      {
                        "$ref": "#/components/schemas/ProfileUpdateRequest"
                      }
                    ]
                  },
                  {
                    "allOf": [
                      {
                        "title": "New Profile"
                      },
                      {
                        "$ref": "#/components/schemas/ProfileCreateRequest"
                      }
                    ]
                  }
                ]
              },
              "examples": {
                "0": {
                  "summary": "Authenticate Existing Profile",
                  "value": {
                    "userId": "p_1H3Ihra5NpcPGETQuh4rNh"
                  }
                },
                "1": {
                  "summary": "Authenticate New Profile",
                  "value": {
                    "email": "joeexotic@tigerking.com"
                  }
                },
                "2": {
                  "summary": "Invalid Email",
                  "value": {
                    "email": "BAD_EMAIL"
                  }
                }
              }
            }
          },
          "description": "To authenticate an existing Profile, supply their Profile ID or UUID via the `userId` body param.\n\nTo authenticate a new Profile, omit the `userId` body param. If you'd like to assign your own UUID,\nsupply it in the `uuid` body param and it will be assigned to the new Profile.\n\nWhether you're authenticating a new or existing Profile, you can supply optional Profile\nattributes to set or update on the authenticated Profile, such as their `email`, or `phone`.\n\nFor more information, see the Authentication guide [here](/authentication/issuing-session-tokens).\n"
        }
      }
    },
    "/v1/users/session": {
      "servers": [
        {
          "url": "https://auth.quiltt.io",
          "description": "Auth API server"
        }
      ],
      "delete": {
        "summary": "Revoke current Session token",
        "tags": [
          "Session Tokens"
        ],
        "description": "Revokes the current Session token.\n\nThis can be used to power a logout action in your application.\n\nYou must pass the Session token in the Authorization header.\n",
        "security": [
          {
            "SessionTokenBearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid and unexpired Session token in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/ach_numbers": {
      "get": {
        "summary": "Retrieve ACH Numbers",
        "tags": [
          "Account Numbers"
        ],
        "description": "Retrieves full ACH routing and account numbers associated with a connected account.\n\nThese numbers can be sent to a payment processor to enable direct deposits and withdrawals\nfrom the account.\n\nPlease note that for the numbers be available, the account holder must have verified the account\nthrough a Connector enabled with the **Account Numbers** product. To be notified when the numbers\nare available, subscribe to the [`account.verified` webhook event](#tag/Event-Schemas/AccountEvent-Schema).\n\nFor Finicity accounts where ACH numbers have not been cached yet, a `202 Accepted` response\nwill be returned while the numbers are fetched asynchronously. Retry the request.\n",
        "security": [
          {
            "APISecretBearerAuth": [],
            "ProcessorTokenBasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Account.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Account ID",
              "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "example": {
                  "accountId": "acct_16FvuCM1Pg8NzjwuN9qndzm",
                  "number": "30930901",
                  "routing": "021000010"
                },
                "schema": {
                  "$ref": "#/components/schemas/ACHNumbers"
                }
              }
            }
          },
          "202": {
            "description": "Accepted — pending async fetch"
          },
          "400": {
            "description": "Unsupported Account kind",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Unsupported account kind: LOAN. Try a DEPOSITORY account."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Connection is not enabled with the `ACCOUNT_NUMBERS` product."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of a verified Account?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "410": {
            "description": "Unverifiable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Gone",
                  "instruction": "ACH numbers are not available for this account."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/balances/refresh": {
      "post": {
        "summary": "Trigger a Balance Refresh",
        "tags": [
          "Balances"
        ],
        "description": "Triggers a Balance Refresh for a given Account.\n\nSuccessful requests trigger a balance refresh from the Connection provider and return a `202 Accepted` response.\n\nAs soon as Quiltt obtains the latest balance, you will receive it via the\n[`balance.created` webhook event](#tag/Event-Schemas/BalanceEvent-Schema). The\nnew Balance record will have the `REFRESH` source and also be available in GraphQL.\n\nNote that some provider-specific limitations apply based on the Account kind:\n- Finicity only supports Balance Refresh for `DEPOSITORY` accounts.\n- Plaid does not support Balance Refresh for `LOAN` accounts.\n",
        "security": [
          {
            "APISecretBearerAuth": [],
            "ProcessorTokenBasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Account.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Account ID",
              "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Successful request"
          },
          "400": {
            "description": "Account kind not supported by provider",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Account provider does not support Balance Refreshes for `LOAN` accounts."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Connection disconnected or in an error state",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Account does not belong to an active Connection."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of a connected Account?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "429": {
            "description": "Provider rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "message": "Too Many Requests",
                  "instruction": "The Connection provider's rate limit has been exceeded. Please try again later."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles/{profileId}/connections/{connectionId}/export": {
      "get": {
        "summary": "Export Connection Details",
        "tags": [
          "Connections"
        ],
        "description": "Exports the Connection details needed to make direct API calls to the underlying provider.\n\nContact Quiltt Support to enable this feature.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Profile.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Profile ID",
              "example": "p_1hyoxpVVFib1HngGwKAzIr"
            },
            "required": true
          },
          {
            "name": "connectionId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Connection.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Connection ID",
              "example": "conn_14TJiFDKRJlPiBHuukUIlXZ"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "conn_12xjHzSngHp5gmxtb8LgpR",
                  "provider": "MX",
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "apiKey": [
                    "USR-fa7537f3-48aa-a683-a02a-b18940482f54",
                    "MBR-7c6f361b-e582-15b6-60c0-358f12466b4b"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ConnectionExport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid API Key secret in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Contact Quiltt Support to enable this feature."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Connection not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of an active Connection belonging to this Profile?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles/{profileId}/connections/import/plaid": {
      "post": {
        "summary": "Import from Plaid",
        "tags": [
          "Connections"
        ],
        "description": "Imports a Connection from an existing Plaid record.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Profile.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Profile ID",
              "example": "p_1hyoxpVVFib1HngGwKAzIr"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully imported",
            "content": {
              "application/json": {
                "example": {
                  "id": "conn_12xjHzSngHp5gmxtb8LgpR",
                  "provider": "PLAID",
                  "at": "2024-08-26T02:04:37Z",
                  "features": [
                    "ACCOUNT_BALANCE_REFRESHES",
                    "ACCOUNT_BALANCES_AND_TRANSACTIONS"
                  ],
                  "products": [
                    "ACCOUNT_BALANCE_REFRESHES",
                    "ACCOUNT_BALANCES_AND_TRANSACTIONS"
                  ],
                  "status": "INITIALIZING",
                  "metadata": null,
                  "createdAt": "2024-08-26T02:04:37Z",
                  "updatedAt": "2024-08-26T02:04:37Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Unable to import errored Connection",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Cannot import Plaid Item in an error state"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Integration not enabled",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Is the Plaid integration enabled in this environment?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does Profile with ID `not-found` exist in this Environment?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "409": {
            "description": "Connection already exists",
            "content": {
              "application/json": {
                "example": {
                  "message": "Conflict",
                  "instruction": "Connection with this `accessToken` already exists."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid access token",
            "content": {
              "application/json": {
                "example": {
                  "accessToken": [
                    "could not find matching access token"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          },
          "429": {
            "description": "Provider rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "message": "Too Many Requests",
                  "instruction": "The Connection provider's rate limit has been exceeded. Please try again later."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionImportPlaidRequest"
              },
              "examples": {
                "0": {
                  "summary": "Import a Plaid Item",
                  "value": {
                    "accessToken": "access-sandbox-560d5d7e-b4c4-4b13-8e39-1cb9370051d3",
                    "externallyManaged": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connections/{connectionId}/transactions/refresh": {
      "post": {
        "summary": "Trigger a Transactions Refresh",
        "tags": [
          "Connections"
        ],
        "description": "Triggers a Transactions Refresh for a given Connection.\n\nSuccessful requests trigger a transaction sync from the Connection provider and return a `202 Accepted` response.\n\nIf transactions are added, removed, or updated, you will be notified via webhook events and the changes will be available in GraphQL. If there are no changes, no webhook will be fired — this mirrors the behavior of upstream providers, which only emit events when data changes.\n\n**This feature is currently in beta.** Please contact [Quiltt Support](https://quiltt.io/support) to have it enabled for your environment.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Connection.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Connection ID",
              "example": "conn_14TJiFDKRJlPiBHuukUIlXZ"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Successful request"
          },
          "403": {
            "description": "Connection disconnected or in an error state",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Connection is not active."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Connection not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of a valid Connection?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "409": {
            "description": "Refresh already in progress",
            "content": {
              "application/json": {
                "example": {
                  "message": "Conflict",
                  "instruction": "A refresh is already in progress for this Connection."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "429": {
            "description": "Connection refreshed too recently",
            "content": {
              "application/json": {
                "example": {
                  "message": "Too Many Requests",
                  "instruction": "This Connection has already been refreshed recently."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/institutions": {
      "get": {
        "summary": "Search Institutions by Routing Number",
        "tags": [
          "Institutions"
        ],
        "description": "Retrieves Institutions based on US Fed routing number.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "routingNumber",
            "description": "The routing number to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": [
                  {
                    "name": "Chase",
                    "logoUrl": "https://cdn.quiltt.io/institutions/inst_15vzU43JrPuWZgSOnCxRa3N/logo.png"
                  }
                ],
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Institution"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Are you supplying a valid 9-digit Routing number?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/processor_tokens": {
      "post": {
        "summary": "Create a Processor Token",
        "tags": [
          "Processor Tokens"
        ],
        "description": "Generates a Processor Token for a given account to pass to a 3rd party payment or data processor.\n\nPlease double check that your preferred Processor is configured to consume the token from the token issuer.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Account.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Account ID",
              "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Create a universal Quiltt token for Straddle",
            "content": {
              "application/json": {
                "example": {
                  "token": "YWNjdF8xMzFMV2xXSUJJY3lUQ3pqdGRMUnhTOjA1NTQ1OTYyMTE5NjNiZWNjODg5MTVkOThlMTY3NDdiMzNhMzlmZGYx",
                  "account": {
                    "id": "acct_15g4Sn02NoCsnViOdqAHyYX",
                    "type": "SPENDING"
                  },
                  "environment": {
                    "id": "env_12zvI6ZO3hPKennfrRy2Ke",
                    "mode": "TEST"
                  },
                  "issuer": "QUILTT",
                  "processor": "STRADDLE",
                  "expiresAt": "2026-11-12T18:56:42Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/ProcessorToken"
                }
              }
            }
          },
          "400": {
            "description": "Missing Issuer",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "`issuer` is missing or the value is empty"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Connection needs to be reconnected",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Account does not belong to an active Connection."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of a connected Account?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Processor",
            "content": {
              "application/json": {
                "example": {
                  "processor": [
                    "Processor \"BAD_PROCESSOR\" is not supported"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "issuer": {
                    "type": "string",
                    "description": "The issuer of the Processor Token.\n - `QUILTT` - Quiltt\n - `MX` - MX\n - `PLAID` - Plaid\n",
                    "enum": [
                      "QUILTT",
                      "MX",
                      "PLAID"
                    ],
                    "example": "QUILTT"
                  },
                  "processor": {
                    "type": "string",
                    "description": "The processor that will be receiving the Token.",
                    "enum": [
                      "ACHQ",
                      "ADP_ROLL",
                      "ADYEN",
                      "ALLOY",
                      "ALPACA",
                      "ANSA",
                      "APEX_CLEARING",
                      "ARRAY",
                      "ASTRA",
                      "ATOMIC",
                      "BAKKT",
                      "BLOOM_CREDIT",
                      "BOND",
                      "BOOM",
                      "BRALE",
                      "CARDLESS",
                      "CARDLYTICS",
                      "CHECK",
                      "CHECKBOOK",
                      "CHECKOUT",
                      "CIRCLE",
                      "DRIVEWEALTH",
                      "DWOLLA",
                      "ESUSU",
                      "FIANT",
                      "FINIX",
                      "FORTRESS_TRUST",
                      "GAINBRIDGE",
                      "GALILEO",
                      "GEMINI",
                      "GUSTO",
                      "HIGHNOTE",
                      "I2C",
                      "KNOT",
                      "LAYER",
                      "LITHIC",
                      "LOANPRO",
                      "MARQETA",
                      "MOCK",
                      "MODERN_TREASURY",
                      "MOOV",
                      "NUVEI",
                      "OATFI",
                      "OCROLUS",
                      "OPEN_LEDGER",
                      "PARAFIN",
                      "PAYNOTE",
                      "PINWHEEL",
                      "RISKIFIED",
                      "RIZE",
                      "SARDINE",
                      "SCRIBEUP",
                      "SFOX",
                      "SILA",
                      "SILA_MONEY",
                      "SOLID",
                      "STAKE",
                      "STRADDLE",
                      "STRIPE",
                      "SVB_API",
                      "TABA_PAY",
                      "TEAL",
                      "THREAD_BANK",
                      "TREASURY_PRIME",
                      "UNIT",
                      "UTB",
                      "VALON",
                      "VESTA",
                      "VOPAY",
                      "WEDBUSH",
                      "WEPAY",
                      "WYRE",
                      "ZERO_HASH",
                      "ZUM_RAILS"
                    ],
                    "example": "STRADDLE"
                  }
                }
              },
              "examples": {
                "0": {
                  "summary": "Request a Sila processor token",
                  "value": {
                    "processor": "SILA_MONEY"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles": {
      "post": {
        "summary": "Create a Profile",
        "operationId": "createProfile",
        "tags": [
          "Profiles"
        ],
        "description": "Creates a Profile with supplied attributes",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "p_12VnSaRRxyP12Sl9rLZg8n1",
                  "uuid": "52909e05-e1cb-4e45-b273-2b7b5d1f9bff",
                  "metadata": null,
                  "at": "2024-07-26T02:04:37Z",
                  "email": "tardis@example.com",
                  "phone": "+15089883522",
                  "name": "The Doctor",
                  "names": null,
                  "dateOfBirth": "1970-01-01",
                  "address": null,
                  "createdAt": "2024-07-26T02:04:37Z",
                  "updatedAt": "2024-07-26T02:04:37Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "You have reached the maximum number of Profiles for this Environment. Delete unused Profiles, use another Environment, or contact Quiltt Support."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "example": {
                  "message": "Conflict",
                  "instruction": "UUID is not available"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "email": [
                    "Email is not a valid email address"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCreateRequest"
              },
              "examples": {
                "0": {
                  "summary": "Create a Profile",
                  "value": {
                    "email": "tardis@example.com",
                    "name": "The Doctor",
                    "dateOfBirth": "1970-01-01",
                    "phone": "+16358126489"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List all Profiles",
        "operationId": "getProfiles",
        "tags": [
          "Profiles"
        ],
        "description": "Returns a paginated list of all Profiles in your environment",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number",
                "example": 1,
                "required": true
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page",
                "example": 25,
                "required": true
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items",
                "example": 100,
                "required": true
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages",
                "example": 4,
                "required": true
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "p_111sXqFUjvlL5jQZ8gsf9KI",
                    "uuid": "21da60c9-a6a8-453b-bb0d-54fc4ba57866",
                    "metadata": null,
                    "at": "2024-08-26T02:06:41Z",
                    "email": "tardis@example.com",
                    "phone": "+16358126489",
                    "name": "Tardis",
                    "names": null,
                    "dateOfBirth": "1970-01-01",
                    "address": null,
                    "createdAt": "2024-08-26T02:06:41Z",
                    "updatedAt": "2024-08-26T02:06:41Z"
                  },
                  {
                    "id": "p_15PGCp4JWVzjkN5hjCO1vm0",
                    "uuid": "b1abea01-98c1-45e9-9e70-d73d3a35e33c",
                    "metadata": null,
                    "at": "2024-07-26T02:04:37Z",
                    "email": "the_doctor@example.com",
                    "phone": "+15089883522",
                    "name": "The Doctor",
                    "names": null,
                    "dateOfBirth": "1980-05-21",
                    "address": null,
                    "createdAt": "2024-07-26T02:04:37Z",
                    "updatedAt": "2024-07-26T02:04:37Z"
                  }
                ],
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Profile"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid API Key secret in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "schema": {
            "oneOf": [
              {
                "type": "string",
                "description": "The ID of the Profile.",
                "format": "global_id-v1",
                "readOnly": true,
                "title": "Profile ID",
                "example": "p_1hyoxpVVFib1HngGwKAzIr"
              },
              {
                "type": "string",
                "description": "The UUID of the Profile.",
                "format": "uuid",
                "readOnly": true,
                "title": "Profile UUID",
                "example": "174ec567-2492-4498-a706-504a79437235"
              }
            ]
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve a Profile",
        "operationId": "getProfileById",
        "tags": [
          "Profiles"
        ],
        "description": "Retrieves a Profile by its ID",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "p_1hyoxpVVFib1HngGwKAzIr",
                  "uuid": "174ec567-2492-4498-a706-504a79437235",
                  "metadata": {
                    "favoriteMode": "plaid"
                  },
                  "at": "2024-09-01T21:41:44Z",
                  "email": "elon@example.com",
                  "phone": "+12125550180",
                  "name": "Elon Musk",
                  "names": null,
                  "dateOfBirth": null,
                  "address": null,
                  "createdAt": "2024-09-01T21:41:44Z",
                  "updatedAt": "2024-09-01T21:41:44Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does Profile with ID `bad_id` exist in this Environment?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a Profile",
        "operationId": "updateProfile",
        "tags": [
          "Profiles"
        ],
        "description": "Updates Profile attributes",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "p_1hyoxpVVFib1HngGwKAzIr",
                  "uuid": "174ec567-2492-4498-a706-504a79437235",
                  "metadata": {
                    "favoriteMode": "ludicrous"
                  },
                  "at": "2024-09-07T21:59:01Z",
                  "email": "new_email_who_dis@example.com",
                  "phone": "+12125550180",
                  "name": "Elon Musk",
                  "names": null,
                  "dateOfBirth": null,
                  "address": null,
                  "createdAt": "2024-09-01T21:41:44Z",
                  "updatedAt": "2024-09-07T21:59:01Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "email": [
                    "Email is not a valid email address"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateRequest"
              },
              "examples": {
                "0": {
                  "summary": "Update A Profile",
                  "value": {
                    "email": "new_email_who_dis@example.com",
                    "metadata": {
                      "favoriteMode": "ludicrous"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Profile",
        "operationId": "deleteProfile",
        "tags": [
          "Profiles"
        ],
        "description": "Permanently deletes a Profile and all its associated data. Please note that this\nprocess can take up to 15 minutes to complete. This action cannot be undone.\n\n**What Gets Deleted:**\n- Profile information (name, email, phone, etc.)\n- All Connections and their credentials\n- All Accounts and their balances\n- All Transactions and transaction data\n- All Identities and identity verification data\n- Custom metadata associated with the Profile\n\n**Important Notes:**\n- This process can take up to 15 minutes to complete\n- A `profile.deleted` webhook event will be sent when deletion is complete\n- Any Quiltt-managed Connections will be disabled\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v1/remote/akoya/connections": {
      "get": {
        "summary": "List all Connections with Akoya Data",
        "description": "Returns a paginated list of Connections with Akoya Data",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number",
                "example": 1,
                "required": true
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page",
                "example": 25,
                "required": true
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items",
                "example": 100,
                "required": true
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages",
                "example": 4,
                "required": true
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "connectionId": "conn_12wlV5QoDKCiU1vWX5fqL7",
                    "profileId": "p_12srEQlGK2nFitCKw0kIJu"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteConnections"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/connections/{connectionId}": {
      "parameters": [
        {
          "name": "connectionId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Connection.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Connection ID",
            "example": "conn_14TJiFDKRJlPiBHuukUIlXZ"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Akoya Connection Data",
        "description": "Retrieve Akoya Data by Connection ID",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "connectionId": "conn_12wlV5QoDKCiU1vWX5fqL7",
                  "profileId": "p_12srEQlGK2nFitCKw0kIJu",
                  "type": "AKOYA",
                  "documents": {
                    "products.ddp.akoya.com": {
                      "/token": {
                        "id": "mikomo>CgltaWtvbW9fMTQSBm1pa29tbw",
                        "body": {
                          "aud": [
                            "7fe3efed-3de2-46e9-876a-98ce862d1ff9"
                          ],
                          "exp": 1710946240,
                          "iat": 1710859840,
                          "iss": "https://sandbox-sts.ddp.akoya.com",
                          "jti": "aef0f7a9-ae0a-436a-8532-8ee6699daa33",
                          "rat": 1710859793,
                          "sid": "dde00f89-37e3-469a-b712-66e9d5682524",
                          "sub": "CgltaWtvbW9fMTQSBm1pa29tbw",
                          "name": "mikomo_14",
                          "atHash": "6HjbSSkHMIRC5p6guYv-Xg",
                          "accounts": [
                            "e0f0d28a24c248dcbaad05d78fbabb9e",
                            "f9cd9a90a0504d8fbf2995eb980c25fb"
                          ],
                          "products": [
                            "account_info",
                            "balances",
                            "customers",
                            "investments",
                            "payments",
                            "statements",
                            "transactions"
                          ],
                          "authTime": 1710859834,
                          "connectorId": "mikomo",
                          "recipientId": "quiltt"
                        },
                        "timestamp": "2024-06-20T18:29:12Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteAkoyaConnection"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/accounts": {
      "get": {
        "summary": "List all Accounts with Akoya Data",
        "description": "Returns a paginated list of Accounts with Akoya Data",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number",
                "example": 1,
                "required": true
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page",
                "example": 25,
                "required": true
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items",
                "example": 100,
                "required": true
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages",
                "example": 4,
                "required": true
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "accountId": "acct_12wlV5ctvqmh1l5d0xSkYw",
                    "profileId": "p_12srEQlGK2nFitCKw0kIJu"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteAccounts"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/accounts/{accountId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Account.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Account ID",
            "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Account data",
        "description": "Retrieve Akoya Data by Account ID.",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "accountId": "acct_12wlV5ctvqmh1l5d0xSkYw",
                  "profileId": "p_12srEQlGK2nFitCKw0kIJu",
                  "type": "AKOYA",
                  "documents": {
                    "products.ddp.akoya.com": {
                      "/accounts-info/v2/{provider_id}": {
                        "id": "e0f0d28a24c248dcbaad05d78fbabb9e",
                        "body": {
                          "depositAccount": {
                            "status": "OPEN",
                            "currency": {
                              "currencyCode": "USD"
                            },
                            "accountId": "e0f0d28a24c248dcbaad05d78fbabb9e",
                            "description": "REGULAR CHECKING",
                            "accountType": "CHECKING",
                            "productName": "REGULAR CHECKING",
                            "accountNumberDisplay": "***2771"
                          }
                        },
                        "timestamp": "2024-06-20T18:29:12Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteAkoyaAccount"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/transactions": {
      "get": {
        "summary": "List all Transactions with Akoya Data",
        "description": "Returns a paginated list of Transactions with Akoya Data",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number",
                "example": 1,
                "required": true
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page",
                "example": 25,
                "required": true
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items",
                "example": 100,
                "required": true
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages",
                "example": 4,
                "required": true
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "transactionId": "txn_12wlV5nu0E3m6D0yj9elBi",
                    "profileId": "p_12srEQlGK2nFitCKw0kIJu"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteTransactions"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/transactions/{transactionId}": {
      "parameters": [
        {
          "name": "transactionId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Transaction.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Transaction ID",
            "example": "txn_11VgTOO9DR1vbAZxb6zBLdb"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Transaction Data",
        "description": "Retrieve Akoya Data by Transaction ID",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "transactionId": "txn_12wlV5nu0E3m6D0yj9elBi",
                  "profileId": "p_12srEQlGK2nFitCKw0kIJu",
                  "type": "AKOYA",
                  "documents": {
                    "products.ddp.akoya.com": {
                      "/transactions/v2/{provider_id}/{account_id}": {
                        "id": "cf5cf2002c6d7664a510569d35d19794",
                        "body": {
                          "depositTransaction": {
                            "amount": 10.99,
                            "status": "POSTED",
                            "accountId": "e8dcbaa0f05d780d28a24c24dfbabb9e",
                            "description": "VISA DDA PUR AP 469216     GOOGLE  YOUTUBE MUSIC       G CO HELPPAY  * CA ",
                            "postedTimestamp": "2023-11-06T00:00:00Z",
                            "transactionType": "DEBIT",
                            "debitCreditMemo": "DEBIT",
                            "transactionTimestamp": "2023-11-06T00:00:00Z"
                          }
                        },
                        "timestamp": "2024-06-20T18:29:12Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteAkoyaTransaction"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/holdings": {
      "get": {
        "summary": "List all Holdings with Akoya Data",
        "description": "Returns a paginated list of Holdings with Akoya Data",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number",
                "example": 1,
                "required": true
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page",
                "example": 25,
                "required": true
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items",
                "example": 100,
                "required": true
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages",
                "example": 4,
                "required": true
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "holdingId": "hld_12wlV5yiTRAbHYT7elGIej",
                    "profileId": "p_12srEQlGK2nFitCKw0kIJu"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteHoldings"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/holdings/{holdingId}": {
      "parameters": [
        {
          "name": "holdingId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Holding.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Holding ID",
            "example": "hld_12Hz9Dz7vEvM9AuljYvhmPc"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Holding Data",
        "description": "Retrieve Akoya Data by Holding ID",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "holdingId": "hld_12wlV5yiTRAbHYT7elGIej",
                  "profileId": "p_12srEQlGK2nFitCKw0kIJu",
                  "type": "AKOYA",
                  "documents": {
                    "products.ddp.akoya.com": {
                      "/accounts/v2/{provider_id}?accountIds={account_id}": {
                        "id": "33fd7721616c67159249e8686e1ecf91",
                        "body": {
                          "units": 396449,
                          "symbol": "IBM",
                          "securityId": "459200101",
                          "averageCost": false,
                          "cashAccount": false,
                          "marketValue": 54587062.81,
                          "positionType": "LONG",
                          "securityIdType": "CUSIP"
                        },
                        "timestamp": "2024-06-20T18:29:12Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteAkoyaHolding"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/enrichment/sync": {
      "post": {
        "summary": "Synchronously Enrich Transactions",
        "tags": [
          "Enrichment"
        ],
        "description": "This endpoint is used to perform on-demand enrichment of transactions from one of Quiltt's enrichment providers.\n\nNote that transactions from connected accounts are enriched automatically, with Enrichment responses made\navailable via Transaction [Remote Data](https://quiltt.dev/api/remote-data).\n\nIf your Transaction data provider is not supported, use the `GENERIC` provider and format\nyour payload to Quiltt's schema.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "example": {
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "type": "ENRICHMENT",
                  "documents": {
                    "findmoney.fingoal.com": {
                      "/v3/cleanup": {
                        "body": {
                          "enrichedTransactions": [
                            {
                              "type": "DEPOSITS_CREDITS",
                              "subType": "CREDIT",
                              "container": "bank",
                              "highLevelCategoryId": 10000015,
                              "categoryId": 28,
                              "isPhysical": false,
                              "merchantType": "OTHERS",
                              "simpleDescription": "EXT-XFER Sq. Nbr.: XX3456",
                              "detailCategoryId": 1170,
                              "category": "Transfers",
                              "amountnum": 1975,
                              "originalDescription": "EXT-XFER Sq. Nbr.: 123456",
                              "accountid": "p_12wKKn68cfbRE8EQYDzryn:CHECKING",
                              "date": "2017-11-27T00:00:00.000Z",
                              "receiptDate": "2024-11-19T13:10:46.993Z",
                              "transactionid": "ttx_113333abcd",
                              "uid": "p_12wKKn68cfbRE8EQYDzryn",
                              "clientId": "FINGOAL_CLIENT_ID",
                              "requestId": "2d5390c6-1958-492d-b5ed-449c4fe5aa9a",
                              "settlement": "credit",
                              "guid": "9945af75-a94e-4f2f-ac33-6e74cc5b8715",
                              "merchantLogoUrl": "https://links.fingoal.com/Transfers",
                              "transactionTags": [],
                              "amount": 1975
                            }
                          ],
                          "failedTransactions": []
                        },
                        "timestamp": "2024-04-23T15:34:20Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteEnrichment"
                }
              }
            }
          },
          "202": {
            "description": "Request was valid but should be retried",
            "content": {
              "application/json": {
                "example": {
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "type": "ENRICHMENT",
                  "documents": {
                    "findmoney.fingoal.com": {
                      "/v3/cleanup": {
                        "requestId": "9341760b-8364-48b6-a9f2-085a5a15bb36"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteEnrichment"
                }
              }
            }
          },
          "400": {
            "description": "Provider is not supported",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Provider unknown is not supported at this time"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "422": {
            "description": "There was an issue with the request params",
            "content": {
              "application/json": {
                "example": {
                  "payload": [
                    "`payload` is not a supported attribute or is supplying an invalid data type"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          },
          "502": {
            "description": "There is an upstream error with the provider",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Gateway",
                  "instruction": "Upstream provider is experiencing an issue fulfilling this request. Please try again later\nor contact Quiltt Support for assistance.",
                  "errorId": "484f86ab-b345-4a90-ba7e-265e4ea7a2e0"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoteEnrichmentRequest"
              },
              "examples": {
                "0": {
                  "summary": "Enrich Treasury Prime Transactions",
                  "value": {
                    "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                    "accountType": "CHECKING",
                    "provider": "TREASURY_PRIME",
                    "payload": {
                      "data": [
                        {
                          "ach_id": "ach_1234567",
                          "amount": "1975.00",
                          "balance": "256147.27",
                          "billpay_payment_id": null,
                          "book_id": null,
                          "card_id": null,
                          "category": null,
                          "check_id": null,
                          "check_number": null,
                          "date": "2017-11-27",
                          "desc": "EXT-XFER Sq. Nbr.: 123456",
                          "extended_timestamp": "2017-11-27T01:02:03Z",
                          "extended_timestamp_precise": "2017-11-27T01:02:03.300Z",
                          "fingerprint": "2k7vxetham4i1v3ceb5vs6",
                          "id": "ttx_113333abcd",
                          "incoming_ach_id": null,
                          "incoming_wire": null,
                          "incoming_wire_id": null,
                          "issued_check_id": null,
                          "network_transfer_id": null,
                          "related_transfer_ids": [],
                          "summary": "ACME CORP VENDOR PMT",
                          "trace_id": null,
                          "type": "deposit",
                          "type_source": null,
                          "userdata": null,
                          "wire": null,
                          "wire_id": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/fingoal/profiles": {
      "get": {
        "summary": "List all Profiles with Fingoal Data",
        "description": "Returns a paginated list of Profiles that have Fingoal Data",
        "tags": [
          "Fingoal"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number",
                "example": 1,
                "required": true
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page",
                "example": 25,
                "required": true
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items",
                "example": 100,
                "required": true
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages",
                "example": 4,
                "required": true
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                    "uuid": "018ef74e-5aa1-7684-86ca-d2c0a4447bb5"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteProfiles"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/fingoal/profiles/{profileId}": {
      "parameters": [
        {
          "name": "profileId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Profile.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Profile ID",
            "example": "p_1hyoxpVVFib1HngGwKAzIr"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Profile Data",
        "description": "Retrieve Fingoal Data by Profile ID",
        "tags": [
          "Fingoal"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "uuid": "018ef74e-5aa1-7684-86ca-d2c0a4447bb5",
                  "type": "FINGOAL",
                  "documents": {
                    "findmoney.fingoal.com": {
                      "/v3/users/{user_id}": {
                        "id": "p_13hoVGhoFdnJNoVUSDkcV4L",
                        "body": {
                          "id": "82840",
                          "uid": "p_13hoVGhoFdnJNoVUSDkcV4L",
                          "tags": [
                            "Eats Out Regularly"
                          ],
                          "clientId": "FINGOAL_CLIENT_ID",
                          "uniqueId": "4UjJ2q5b65avLSAu3nhkVG3b5HakmtC1p_13hoVGhoFdnJNoVUSDkcV4L",
                          "subtenantId": null,
                          "lifetimeSavings": null,
                          "registrationDate": null,
                          "totaltransactions": 6,
                          "transactionsSinceLastUpdate": 6
                        },
                        "timestamp": "2024-06-20T18:27:49Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteFingoalProfile"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/fingoal/transactions": {
      "get": {
        "summary": "List all Transactions with Fingoal Data",
        "description": "Returns a paginated list of Transactions that have Fingoal Data",
        "tags": [
          "Fingoal"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number",
                "example": 1,
                "required": true
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page",
                "example": 25,
                "required": true
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items",
                "example": 100,
                "required": true
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages",
                "example": 4,
                "required": true
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "transactionId": "txn_12wKKn7HytyW8ybdF31NGo",
                    "profileId": "p_12wKKn68cfbRE8EQYDzryn"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteTransactions"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/fingoal/transactions/{transactionId}": {
      "parameters": [
        {
          "name": "transactionId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Transaction.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Transaction ID",
            "example": "txn_11VgTOO9DR1vbAZxb6zBLdb"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Transaction Data",
        "description": "Retrieve Fingoal Data by Transaction ID",
        "tags": [
          "Fingoal"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "transactionId": "txn_12wKKn7HytyW8ybdF31NGo",
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "type": "FINGOAL",
                  "documents": {
                    "findmoney.fingoal.com": {
                      "/v3/cleanup": {
                        "id": "ef86b762-235c-4884-92ef-aafac27a71be",
                        "body": {
                          "uid": "p_12vLvCczIXHhaKeR8mIAJm",
                          "date": "2019-08-24T00:00:00.000Z",
                          "guid": "ef86b762-235c-4884-92ef-aafac27a71be",
                          "type": "PAYMENT",
                          "amount": 60.5,
                          "category": "Travel",
                          "subType": "PAYMENT",
                          "accountid": "p_12vLvCczIXHhaKeR8mIAJm:CHECKING",
                          "amountnum": 60.5,
                          "clientId": "FINGOAL_CLIENT_ID",
                          "container": "bank",
                          "requestId": "e8e65df4-f4ea-40e5-b8b4-8e9183e9f451",
                          "settlement": "debit",
                          "categoryId": 23,
                          "isPhysical": false,
                          "receiptDate": "2024-09-17T16:52:13.633Z",
                          "merchantName": "Lyft",
                          "merchantType": "OTHERS",
                          "transactionid": "txn_12toleZ6UJAWjhpkmWbs6d",
                          "categoryLabel": [
                            "Transportation",
                            "Taxi and Car Services"
                          ],
                          "merchantCountry": "US",
                          "transactionTags": [
                            "Lyft Ride",
                            "Rideshare"
                          ],
                          "merchantLogoUrl": "https://links.fingoal.com/YM3sD6",
                          "detailCategoryId": 1682,
                          "simpleDescription": "Lyft",
                          "sourceMerchantId": "-M-lyft-CY-us",
                          "originalDescription": "Lyft",
                          "highLevelCategoryId": 10000011
                        },
                        "timestamp": "2024-06-20T18:27:49Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteFingoalTransaction"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/finicity/connections": {
      "get": {
        "summary": "List all Connections with Finicity Data",
        "description": "Returns a paginated list of Connections with Finicity Data",
        "tags": [
          "Finicity"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number",
                "example": 1,
                "required": true
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page",
                "example": 25,
                "required": true
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items",
                "example": 100,
                "required": true
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages",
                "example": 4,
                "required": true
              }
            },
            "content": {
              "application/json": {
[...]
